@import "tailwindcss";
@import "./blog.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Neue";
  src: url("./fonts/NeueMachina-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Neue";
  src: url("./fonts/NeueMachina-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Neue";
  src: url("./fonts/NeueMachina-Ultrabold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/Actay-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayCondensed-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayWide-Bold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/Actay-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayCondensed-ThinItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Actay";
  src: url("./fonts/ActayWide-BoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-VariableFont_wght.ttf");
}

@theme inline {
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.23);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.23);
  --shadow-sm:
    0px 1px 3px 0px hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow:
    0px 1px 3px 0px hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md:
    0px 1px 3px 0px hsl(0 0% 0% / 0.25), 0px 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg:
    0px 1px 3px 0px hsl(0 0% 0% / 0.25), 0px 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl:
    0px 1px 3px 0px hsl(0 0% 0% / 0.25), 0px 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 1.13);
}

@layer base {
  :root {
    --background: 174 97% 5%; /* #001917 */
  }
  * {
    @apply scroll-smooth;
  }
  body {
    @apply bg-[hsl(var(--background))] py-4 font-[Actay];
  }
  .btn,
  input {
    @apply relative px-4 rounded-xl flex justify-center items-center text-[#001917] font-semibold uppercase text-sm text-center;
    * {
      @apply text-[#001917] text-sm text-center z-10 relative;
    }
  }

  ::-moz-selection,
  ::selection {
    @apply text-[#001917] bg-[#F96D4E];
  }

  .negative {
    @apply text-[#001917] bg-[#F96D4E];
  }

  .negative::-moz-selection,
  .negative::selection {
    @apply text-[#F96D4E] bg-[#001311];
    * {
      @apply text-[#F96D4E] bg-[#001311];
    }
  }
}
